/* основные стили для всего документа */

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* логотип */

.logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.logo-web {
  color: var(--blue-text);
}

.logo-studio {
  color: var(--main-text);
  margin-right: 93px;
}

/* навигация шапка */

.header-nav,
.site-nav,
.contacts-nav {
  display: flex;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-border-light);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--blue-text);
}

.nav-item {
  padding: 32px 0px 32px 0px;
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 0px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-text);
}

.nav-link.current {
  color: var(--blue-text);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--blue-text);
}

.contacts-nav {
  margin-left: 331px;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--grey-text);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 50px;
}

/* герой */

.hero {
  background-color: var(--dark-back);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-text);
  text-transform: uppercase;
}

.hero-text {
  box-sizing: border-box;
  align-items: center;
}

.hero-btn {
  margin-top: 30px;
}

.hero-button {
  background: var(--blue-text);
  width: 200px;
  height: 50px;
  font-family: 'roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text);
  border-radius: 4px;
}

/* преимущества */

.visually-hidden {
  display: none;
}

.advantages-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list > .li {
  flex-basis: calc(100% / 4);
}

.advantages-list .p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text);
}

.advantages-list .h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Чем мы занимаемся */

.services-title {
  text-align: center;
  margin-bottom: 50px;
}

.services-images {
  display: flex;
  margin-bottom: 94px;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
}

/* команда */

.team-container {
  background-color: var(--light-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.card-thumb {
  background-color: var(--white-text);
  outline: 1px solid transparent;
  border-radius: 4px;
  height: 368px;
  width: 270px;
  text-align: center;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  text-align: center;
  margin-bottom: 50px;
}

.team-list .h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team-list .p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: var(--grey-text);
  margin-top: 10px;
}

/* футер */

.footer {
  background-color: var(--dark-back);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-item {
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: var(--white-text);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-location {
  color: var(--white-text);
}

.footer-contacts {
  color: var(--white-op60);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text);
}

/* портфолио фильтры */

.filter-container {
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.filter-item {
  background: var(--grey-button);
  width: 128px;
  height: 38px;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text);
  border-radius: 4px;
  margin-right: 8px;
}

.filter-button {
  margin-right: 8px;
}

.filter-button :last-child {
  margin-right: 0px;
}

.filter-item:hover,
.filter-item:focus {
  background: var(--blue-text);
  color: var(--white-text);
}

/* портфолио карточки */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards-items {
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card-thumb {
  outline: 1px solid var(--grey-border-light);
  height: 404px;
  width: 370px;
  text-align: left;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-title {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: center;
}

.cards .h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text);
}

.cards .p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-text);
  margin-top: 4px;
}
